@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Noto+Serif+Oriya&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(254, 42, 66);
  
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 15px 0;
  transition: all 0.3s ease;
}

.navbar.sticky{
  background: #2488fb;
  padding: 8px 0;
  padding-top: 0;
  padding-bottom: 12px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list{
  padding-top: 20px;
}
.navbar .logo a{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
  font-size: medium;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #034eff;
}
.banner{
  background: url("./a.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  
}
#imgbanner{
    background-color: black;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
  color:white;
}
.icon{
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon:hover{
  color: #007bff;
}
.menu-list .cancel-btn{
  position: absolute;
  left: 38px;
  top: 28px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}

@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}

@media (max-width: 886px) {
    
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .menu-list{
    width: 100%;
  }
  .navbar{
    width: 100%;
  }
  .icon_menu-btn2{
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
  }
  

.navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 40%;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .iconmenu .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}
#hnmr{
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif Oriya', serif;
}
#hnmr img{
    width: 60px;
    position: relative;
    top: 12px;
}
#iconmenu{
    padding: 0 20px;
    padding-right: 0;
}
.icon_menu-btn2{
    display:inline;
    padding: 1px;
    align-items: right;
    fill: white;
    top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.icon_menu-btn2:hover{
    fill: #007bff;
    cursor: pointer;;
}
.centered p{
  display: block;
  position: relative;
  text-align: center;
  text-shadow: 5px 5px 3px #000;
  z-index: 1;
  max-width: 100%;
  white-space: pre-line;
  overflow-wrap: break-word;
  font-family: 'Open Sans',Arial,sans-serif;
  color: #ffffff;
  line-height: 1.3;
}
#iamstu{
  display: inline;
  font-weight:400;
  text-shadow:3px 3px 3px #000;
  font-size: 25px;
  padding-left: 10px;
}
#iam{
  font-weight: 700;
  text-shadow:5px 5px 3px #000;
  font-size: 80px;
}
.centered {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head{
  margin-top: 20px;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-weight: 500;
  position: relative;
}
#aboutme{
    display: grid;
    padding: 2rem;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font: 500 120%/1.5 system-ui;
  background-color: antiquewhite;
}
#aboutme img {
    max-width: 100%;
    height: auto;
    padding:20px
  }
@media (max-width:1180px){
  #aboutme img{
    max-width: 100%;
    border-radius:100px;
    height: auto;
    padding:20px
  }
  #aboutme{
    display:block;
    padding: 2rem;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font: 500 120%/1.5 system-ui;
  background-color: antiquewhite;
}
}
@media (max-width:440px){
  #aboutme img{
    max-width: 100%;
    border-radius:100px;
    height: auto;
    padding:10px
  }
  #aboutme{
    display:block;
    padding: 2rem;
    grid-template-columns: 500px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    font: 500 80%/1.5 system-ui;
  background-color: #faebd7;
}
}

 
.b-skills
{
	border-top: 1px solid #f9f9f9;
	padding-top: 46px;
	text-align: center;
  background-color: rgba(0, 123, 255,0.2);

}

.b-skills:last-child { margin-bottom: -30px; }

.b-skills h2 { margin-bottom: 50px; font-weight: 900; text-transform: uppercase;}

.skill-item
{
	position: relative;
	max-width: 250px;
	width: 100%;
	margin-bottom: 30px;
	color: #555;
}


.chart-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.skill-item .chart:before
{
	content: "";
	width: 0;
	height: 100%;
}

.skill-item .chart:before,
.skill-item .percent
{
	display: inline-block;
	vertical-align: middle;
}

.skill-item .percent
{
	position: relative;
	line-height: 1;
	font-size: 40px;
	font-weight: 900;
	z-index: 1;
}

.skill-item  .percent:after
{
	content: attr(data-after);
	font-size: 20px;
}
 
#hmyskills{
  background-color: white;
  margin-top: 40px;
  padding: 40px;
}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

.row{
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px}
.col-sm-6{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col-md-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
@media (max-width:555px){
  .row{
    display:inline-block;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px;
    text-align: center;
    align-items: center;
  }
  .col-sm-6{
    display: inline;
    position:relative;width:100%;padding-right:15px;padding-left:15px
  }
}
@media (max-width:595px) {
  .skill-item .percent
{
	position: relative;
	line-height: 1;
	font-size: 30px;
	font-weight: 900;
	z-index: 1;
}
}
@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.container-fluid,.container-lg,.container-md,.container-sm,.container-xl{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1300px}}

#hgallery{
  padding: 10px;
  margin: 30px;
  width: auto;
  display: relative;
  text-align: center;
  align-items: center;
  
}
.imggal{
  display: relative;
  align-items: center;
  text-align: center;
  background-color:#faebd7 ;
}
.imggal img{
  padding: 10px;
  background-color: #000;
  width: 500px;
  height: 360px;
  margin: 30px 30px;
}
@media (max-width:1214px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 450px;
    height: 310px;
    margin: 20px 20px;
  }
}
@media (max-width:1075px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 400px;
    height: 260px;
    margin: 10px 10px;
  }
}
@media (max-width:975px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 300px;
    height: 210px;
    margin: 5px 5px;
  }
}
@media (max-width:714px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 500px;
    height:360px;
    margin: 5px 5px;
  }
}
@media (max-width:605px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 450px;
    height: 310px;
    margin: 5px 5px;
  }
}
@media (max-width:550px) {
  .imggal img{
    padding: 10px;
    background-color: #000;
    width: 300px;
    height: 210px;
    margin: 5px 5px;
  }
}
@media (max-width:400px) {
  .imggal img{
    background-color: #000;
    width: 200px;
    height: 150px;
  }
  #hgallery{
    padding: 5px;
    margin: 5px;
    width: auto;
    display: relative;
    text-align: center;
    align-items: center;
    
  }
}
.con{
  display: flex;
  background-color: rgba(0, 123, 255,0.2);
  margin: 40px;
}
#contd{
  width: 50%;
  text-align: center;
}
#contd ul{
  list-style: none;
  line-height: 2.5;
  margin: 20px 20px;
  padding: 20px 20px;
}
#contd svg{
  position: relative;
  right: 5px;
  top: 8px;
  padding-top: 0px;
}
#contf{
  display: block;
  width: 50%;
  text-align: left;
}
/* form style */
#hlo:hover{
  cursor:not-allowed;
}
#hcontact{
  background-color: white;
  margin-top: 40px;
  padding: 40px;
}
#input-wrapper{
  margin: 20px 20px;
  padding: 20px 20px;
  
}
.input-box{
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid rgba(3, 3, 3,0.2) ;
}
.sinput{
  display: inline-block;
  width: 40%;
}
.lbox{
  width: 84%;
}

.input-box:hover{
  box-shadow:0px 1px 6px 0px rgba(32,33,36,0.28);
  border-color: rgba(223, 225, 229, 0);
}
.input-box:focus{
  box-shadow:0px 1px 6px 0px rgba(32,33,36,0.28);
  border-color: rgba(12, 246, 0, 1);
  outline: none;
}
@media (max-width:1070px) {
  
  #contd{
    width: 40%;
  }
  #contf{
    width: 60%;
  }
}
@media (max-width:990px) {
  .con{
    display: block;
  }
  #contd{
    width: 100%;
  }
  #contf{
    width: 100%;
  }
}
@media (max-width:680px) {
  .con{
    display: block;
  }
  #contd{
    width: 100%;
  }
  #contf{
    width: 100%;
  }
  .sinput{
    display: flex;
    width: 84%;
  }
}
@media (max-width:550px) {
  .con{
    display: block;
  }
  #contd{
    width: 100%;
  }
  #contf{
    width: 100%;
  }
  .sinput{
    display: flex;
    width: 84%;
  }
  #hcontact{
    background-color: white;
    margin-top: 40px;
    padding: 10px;
  }
  .con{
    margin: 5px;
  }
  #contd{
    width: 100%;
    text-align: center;
  }
  #contd ul{
    list-style: none;
    line-height: 2.5;
    margin: 5px 5px;
    padding: 5px 5px;
  }
}
@media (max-width:406px) {
  .con{
    display: block;
  }
  #contd{
    width: 100%;
  }
  #contf{
    width: 100%;
  }
  .sinput{
    display: flex;
    width: 84%;
  }
  #hcontact{
    background-color: white;
    margin-top: 40px;
    padding: 10px;
  }
  #input-wrapper{
    margin: 5px 5px;
    padding: 5px 5px;
    
  }
  .con{
    margin: 5px;
  }
  #contd{
    width: 100%;
    text-align: center;
  }
  #contd ul{
    list-style: none;
    line-height: 2.5;
    margin: 5px 5px;
    padding: 5px 5px;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer{
  display: block;
  align-items: center;
  text-align: center;
}
.fl{
  padding: 8px;
}
.fl a:link{
  color: wheat;
  text-decoration: none;
}
.fl a:visited{
  color: wheat;
  text-decoration: none;
}
.fl a:hover{
  color: blue;
  text-decoration: none;
}
